/* Starting Page */
.menu {
display: flex;
justify-content: space-between;
}
.intro-main {
display: flex;
flex-direction: column;
align-items: center;
}
/* A Question Text Style */
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question {
    font-size: 32px;
}
.btns {
    display: flex;
    flex-direction: column;
}
.btn {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
}